/*BASIC*/

html, body {
padding:5px 20px 5px 20px;
height: 100%;
color: #101010;
}

a {color:#0700A9; cursor:pointer;text-decoration:none;}
a:hover {text-decoration: underline;}
a img {border: 0;}

table {border-collapse: collapse;}
td {padding:3px;}
th {padding:3px;background:#F0F0F0;}

hr {border-top:1px solid #B8B8B8;}

h1,h2,h3,h4,h5,h6 { margin:0; padding:0;}

h1 {line-height:50px;color:#000080;}
h2 {line-height:40px;color: #2828AF;}
h3 {line-height:30px;}

/*CUSTOM CLASSES*/

.highlight {color:red;background:yellow;padding:3px;}